# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folder
Buckland_Chapter7 to 10_Raven/x64/
Buckland_Chapter7 to 10_Raven/Debug/
Buckland_Chapter7 to 10_Raven/Release/
Buckland_Chapter7 to 10_Raven/ipch/
Buckland_Chapter7 to 10_Raven/.vs/
Buckland_Chapter7 to 10_Raven/DebugLog.txt

*.csv

